################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MVCClient/bin/Debug/net9.0
/src/MVCClient/MVCClient.csproj.user
